div.ui-layout-north form img.spinner {
    display: none;
}

table#result {
    width: 100%;
}
tr.entry {
    display: block;
    border-bottom: 1px dotted #ececec;
    padding: 5px;
    line-height: 150%;
    margin: 0;
}

tr.entry em.hl, div.mainview em.hl {
    background-color: yellow;
    border: 1px solid darkGrey;
    -moz-box-shadow: 1px 1px 2px #ccc;
    -moz-border-radius: 3px;
    padding: 0 2px;
}

tr.entry:hover {
    background: yellowgreen;
    cursor: pointer;
}

tr.selected {
    border: 1px solid goldenRod;
    background-color: lightYellow;
}

div.searchresults { 
    padding: 5px;
}
div.ui-layout-north div#flag {
    float: left;
    text-shadow: 2px 2px 1px white;
    margin-right: 1em;
}
div.ui-layout-north h1 {
    float: left;
    font-size: 1.4em;
    text-shadow: 2px 2px 1px white;
    font-weight: bold;
}
div.ui-layout-north form {
    float: right;
}

div.ui-layout-west {
    background: #ccc;
    border: none;
}


ul.panellist ul { margin: 0; }
ul.panellist > li { margin-bottom: 1em;  }
ul.panellist > li > div.sunkpanel { 
    clear: both; background-color: #ececec; 
    border-radius: 3px 3px 3px 3px;
    margin-top: 0.5em;
    padding: 0.5em;
}
ul.panellist > li img { float: left; margin-right: 4px; }
ul.panellist > li h2 { float: left; font-size: 1em; margin-bottom: 5px;}

ul.panellist ul.historylist li {
    cursor: pointer;
    font-size: 0.9em;
    letter-spacing: 120%;
    color: #333;
    margin: 5px 0; 
}
ul.panellist ul.historylist li:hover {
    text-decoration: underline;
}

ul.panellist ul.bookmarklist li {
    margin: 5px 0; 
}
ul.panellist ul.bookmarklist li a {
    cursor: pointer;
    font-size: 0.9em;
    letter-spacing: 120%;
    color: #333;
}
ul.panellist ul.bookmarklist span {
    display: block;
}
ul.panellist ul.bookmarklist span.search {
}

ul.panellist ul.bookmarklist li:hover {
    text-decoration: underline;
}

div.author {
    position: absolute;
    bottom: 2em;
    left: 1em;
    line-height: 150%;
    color: #333;
    font-size: 0.6em;
}

/* intro ----------------------------------------------------------------------------------------- */
.intro { line-height: normal; }
.intro h1 { font-size: 2em; margin: 0em 0 1em 0; color: yellowgreen; text-shadow: 1px 1px 0px #eee; border-bottom: 2px solid yellowgreen;}
.intro h2 { font-size: 1.5em; margin: 1em 0 0.7em 0; color: #aaa}
.intro h3 { font-size: 1.2em; margin: 0.8em 0 0.5em 0;}
.intro p { margin-left: 2em; line-height: 150% }
.intro p em { background-color: red; border: 1px solid maroon; color: white; padding: 2px; }

.intro ul { margin: 0 0 0 2em; }
.intro li { margin: 0.5em 0; list-style: square; }

/* main ------------------------------------------------------------------------------------------- */
.mainview {
    line-height: 125%;
}

.mainview b {
    font-weight: bold;
}
.mainview i {
    font-style: italic;
}
