/* topmenu ---------------------------------------------------------------------------------------- */
div.topmenu {
    height: 30px;
    background: #eee;
    color: black;
    width: 100%;
    overflow: hidden;
    font: 14px arial,sans-serif;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
div.topmenu ul {
    margin-left: 10px;
}
div.topmenu li {
    float: left;
}

div.topmenu li a {
    display: block;
    border-top: 2px solid transparent;
    line-height: 200%;
    padding: 0 10px;
    color: #666;
    text-decoration: none;
}

div.topmenu li a[href="/index.html"] {
    font-weight: bold;
}
div.topmenu li a:hover {
    text-decoration: underline;
}

div.border {
    display: table;
    width: 100%;
    height: 4px;
    box-shadow: 0px 2px 2px #ddd;
}

div.border > div {
    display: table-row;
    width: 33%;
    padding: 0;
    margin: 0;
}

div.border div.r { width: 33%; display: table-cell; background-color: rgb(255,15,33); } 
div.border div.y { width: 33%; display: table-cell; background-color: rgb(255,233,54); }
div.border div.b { width: 33%; display: table-cell; background-color: black; }

/* index ------------------------------------------------------------------------------------------ */

body.index div#belaws-logo {
    background-image: url('/images/belaws_logo_150.png');
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    width: 250px;
    height: 150px;

}

body.index div#main {
    width: 470px;
    margin: 40px auto;
    color: #000;
}

body.index input[name=q] {
    height: 25px;
    border: 1px solid #999;
    font: 18px arial,sans-serif;
    width: 450px;
    outline: medium none;
    padding: 5px 8px 0 6px;
    vertical-align: top;
    margin: 20px 0;
}

body.index div.logotxt {
    font-family: arial, sans-serif;
    font-size: 1em;
    line-height: 120%;
}

body.index div.ltxt {
    float: left;
    width: 100px;
    text-align: left;
}

body.index div.rtxt {
    float: right;
    width: 100px;
    text-align: right;
}

body.index p.lang {
    font: 13px arial,sans-serif;
    margin-top: 60px;
}
body.index p.lang a {
    text-decoration: none;
}
body.index p.lang a:hover {
    text-decoration: underline;
}
/* search  ------------------------------------------------------------------------------------------ */
body.search div#belaws-logo {
    background-image: url('/images/belaws_logo_50.png');
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px 0 0 60px;

}

body.search div#main {
    width: 100%;
    background: #fff;
    margin-top: 1px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
    height: 70px;
    border-bottom: 1px solid #ddd;
}

body.search input[name=q] {
    height: 25px;
    border: 1px solid #999;
    font: 17px arial,sans-serif;
    line-height: 25px;
    width: 450px;
    outline: medium none;
    padding: 1px 7px;
    vertical-align: top;
    margin: 20px 0 0 100px;
    float: left;
}

body.search input[type=submit] {
    margin: 20px 0 0 20px;
}

body.search div.logotxt {
    display: none;
}

body.search p.lang {
    font: 13px arial,sans-serif;
    margin-top: 60px;
}
body.search p.lang a {
    margin-left: 1em;
    text-decoration: none;
}
body.search p.lang a:hover {
    text-decoration: underline;
}

div#results {
    margin-left: 210px;
    margin-top: 20px;
    font-size: 11px;
    font-family: arial, sans-serif;
    line-height: 16px;
}

div.result {
    margin-bottom: 10px;
}

div#results h3 a { color: #1168CC; font-size: 14px; margin-bottom: 5px; }
div#results p { max-width: 45em; }
div#results b { font-weight: bold }


/* app  ------------------------------------------------------------------------------------------ */
h1.dropdown {
    cursor: pointer;
}
div.linkmenu {
    position: absolute;
    width: 23.5%;
    left: 10px;
    top: 35px;
    background: white;
    border: 1px solid #aaa;
    border-top:1px solid #ccc;
    box-shadow: 1px 2px 2px grey;
    -moz-border-radius: 0px 0px 10px 10px;
    z-index: 100;
}

div.linkmenu ul li span a {
    display: block;
    padding-left: 0.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ddd;
    text-decoration: none;
    font-weight: bold;
    color: #333;
}
div.linkmenu ul li span a span {
    display: block;
    color: #666;
    padding-top: 5px;
    text-decoration: none;
    font-weight: normal;
    font-style: italic;
    font-size: 10px;
}
div.linkmenu ul li:first-child span a {
    border-top: none;
}
div.linkmenu ul li a:hover {
    background: #eee;
}
div.linkmenu ul li:last-child a:hover {
    -moz-border-radius: 0px 0px 10px 10px;
}

div.ui-layout-north form img.spinner {
    display: none;
}

table#result {
    width: 100%;
}

tr.entry {
    display: block;
    border-bottom: 1px dotted #ececec;
    border-left: 5px solid transparent;
    padding: 5px;
    line-height: 150%;
    margin: 0;
}

tr.entry td {
    vertical-align: top;
}

tr.entry td.docdate {
    width: 7em;
}

tr.entry em.hl, tr.entry b, div.mainview em.hl {
    background-color: yellow;
    border: 1px solid darkGrey;
    -moz-box-shadow: 1px 1px 2px #ccc;
    -moz-border-radius: 3px;
    padding: 0 2px;
}

tr.entry:hover {
    border-left: 5px solid yellowgreen;
    cursor: pointer;
}

tr.selected {
    background-color: lightYellow;
}

div.searchresults { 
    padding: 5px;
}
div#flag {
    float: left;
    text-shadow: 2px 2px 1px white;
    margin: 5px 1em 0 10px;
}
h1.dropdown {
    float: left;
    font-size: 1.4em;
    text-shadow: 2px 2px 1px white;
    font-weight: bold;
    margin: 5px 1em 0 0px;
}
div.ui-layout-north form {
    float: right;
    display: block;
    width: 76%;
    position: relative;
}

div.ui-layout-north form div#q_wrapper {
    position: absolute;
    display: inline;
    left: 20px;
    right: 40px;
}
div.ui-layout-north form input#q {
    width: 100%;
    border: 1px solid grey;
    height: 28px;
    font-size: 1.2em;
    padding-left: 0.2em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
div.ui-layout-north form input#submit {
    float: right;
    height: 33px;
    width: 33px;
}

div.ui-layout-west {
    background: #ccc;
    border: none;
}



ul.panellist {
}
ul.panellist ul { margin: 0; }
ul.panellist > li { margin-bottom: 1em;  }
ul.panellist > li > div.sunkpanel { 
    clear: both; background-color: #ececec; 
    border-radius: 3px 3px 3px 3px;
    margin-top: 0.5em;
    padding: 0.5em;
    max-height: 8.7em;
    overflow: hidden;
}
ul.panellist > li img { float: left; margin-right: 4px; }
ul.panellist > li h2 { float: left; font-size: 1em; margin-bottom: 5px;}

ul.panellist ul.historylist li {
    cursor: pointer;
    font-size: 0.9em;
    letter-spacing: 120%;
    color: #333;
    margin: 5px 0; 
}
ul.panellist ul.historylist li:hover {
    text-decoration: underline;
}

ul.panellist ul.bookmarklist li {
    margin: 5px 0; 
}
ul.panellist ul.bookmarklist li a {
    cursor: pointer;
    font-size: 0.9em;
    letter-spacing: 120%;
    color: #333;
}
ul.panellist ul.bookmarklist span {
    display: block;
}
ul.panellist ul.bookmarklist span.search {
}

ul.panellist ul.bookmarklist li:hover {
    text-decoration: underline;
}
ul.panellist table { width: 100% }
ul.panellist table td:nth-child(1) { width: 20px; }
ul.panellist table td:nth-child(3) { text-align: right }
ul.panellist table input {padding-top: 4px; margin: 0;}
ul.panellist table {line-height: 150%; }
ul.panellist table span.key {color: black; padding: 0 0.2em; cursor: pointer; display: block; }
ul.panellist table span.count {color: #666;}
ul.panellist table span.key:hover {background: white;  }

div.author {
    bottom: 2em;
    left: 1em;
    line-height: 150%;
    color: #333;
    font-size: 0.6em;
}

/* intro ----------------------------------------------------------------------------------------- */
.intro { line-height: normal; }
.intro h1 { font-size: 2em; margin: 0em 0 1em 0; color: yellowgreen; text-shadow: 1px 1px 0px #eee; border-bottom: 2px solid yellowgreen;}
.intro h2 { font-size: 1.5em; margin: 1em 0 0.7em 0; color: #aaa}
.intro h3 { font-size: 1.2em; margin: 0.8em 0 0.5em 0;}
.intro p { margin-left: 2em; line-height: 150% }
.intro p em { background-color: red; border: 1px solid maroon; color: white; padding: 2px; }

.intro ul { margin: 0 0 0 2em; }
.intro li { margin: 0.5em 0; list-style: square; }

/* main ------------------------------------------------------------------------------------------- */
.mainview {
    line-height: 125%;
}

.mainview b {
    font-weight: bold;
}
.mainview i {
    font-style: italic;
}

.mainview .header {
float: left;
width: 100%;
padding-bottom: 10px;
border-bottom: 3px solid #ececec;
}
.mainview .header dl   {
    float: left;
    width: 400px;
}
.mainview .header dd   {
}
.mainview .header dt   {
    float: left;
    clear: both;
    width: 8em;
}
.mainview .header .actions   {
    float: right;
}
.mainview .header .actions li  {
    float: left;
}
.mainview .header .actions li a {
display: block;
text-align: center;
text-decoration: none;
color: #333;
width: 7em;
border: 1px solid #555;
background: #eee;
margin: 5px 10px;
padding: 5px 10px;
-moz-border-radius: 2px;
}

/* legend ------------------------------------------------------------------------------------------ */

div.legend {
    -moz-border-radius: 2px;
    -box-shadow: 1px 1px 2px grey;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    margin-right: 0.5em;
}

div.null {
    color: #606060;
    border: dashed 1px #ddd;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background: -moz-linear-gradient(top,  #fff,  #eee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eee');
}

div.wet {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

div.koninklijk_besluit {
    color: #d7d7d7;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
    background: -moz-linear-gradient(top,  #666,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}

div.ministerieel_besluit {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

div.collectieve_arbeidsovereenkomst {
    color: #faddde;
    border: solid 1px #980c10;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}

div.besluit {
    color: #feeef5;
    border: solid 1px #d2729e;
    background: #f895c2;
    background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
    background: -moz-linear-gradient(top,  #feb1d3,  #f171ab);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
}

/* colors ------------------------------------------------------------------------------------------ */
/* gray */
.gray {
    color: #e9e9e9;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top,  #888,  #575757);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
/* blue */
.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
/* rosy */
.rosy {
    color: #fae7e9;
    border: solid 1px #b73948;
    background: #da5867;
    background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
    background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}

